@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* { box-sizing: border-box; }
:root { font-size: 16px; font-family: Lato; }
label { display: block; }

.wrapper {
  max-width: 960px;
  width: 94%;
  margin: 0 auto;
  
}

.content {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding-top: 3rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 900;
  padding: .75rem 0.25rem .75rem .75rem;
  border-bottom: 2px solid black;
}

h1 {
  font-size: 1.5rem;
}

.section-title {
  font-weight: 900;
  font-size:2.5rem;
  padding-bottom: 1rem;
}

.navs {
  display: flex;
  align-items: center;
  gap: .375rem;
}

.navs a {
  display: block;
  padding: .75rem 1.25rem;
  background-color: #080808;
  color: #fff;
  text-decoration: none;
}

.friendList {
  text-transform: uppercase;
  font-weight: 900;
}

.friendList li {
  margin-bottom: 1rem;
}
